<form method="post" action="{{ path('bureau_delete', {'id': bureau.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette bureau de vôte?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bureau.id) }}">
    <button class="btn">Supprimer</button>
</form>
