{% extends 'base.html.twig' %}

{% block title %}Nouveau type de vote{% endblock %}

{% block body %}
    <h1>Nouveau type de vote</h1>

    {{ include('vote/_form.html.twig') }}

    <a href="{{ path('vote_index') }}">Retour</a>
{% endblock %}
