{% extends 'base.html.twig' %}

{% block title %}Nouveau District{% endblock %}

{% block body %}
    <h1>Nouveau District</h1>

    {{ include('district/_form.html.twig') }}

    <a href="{{ path('district_index') }}">Retour</a>
{% endblock %}
