<form method="post" action="{{ path('commune_delete', {'id': commune.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette commune?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commune.id) }}">
    <button class="btn">Supprimer</button>
</form>
