{% extends 'base.html.twig' %}

{% block title %}Modification commune{% endblock %}

{% block body %}
    <h1>Modification commune</h1>

    {{ include('commune/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('commune_index') }}">Retour</a>

    {{ include('commune/_delete_form.html.twig') }}
{% endblock %}
