{% extends 'base.html.twig' %}

{% block title %}Modification code{% endblock %}

{% block body %}
    <h1>Modification code</h1>

    {{ include('code/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('code_index') }}">Retour</a>

    {{ include('code/_delete_form.html.twig') }}
{% endblock %}
