{% extends 'base.html.twig' %}

{% block title %}Nouveau code{% endblock %}

{% block body %}
    <h1>Nouveau code</h1>

    {{ include('code/_form.html.twig') }}

    <a href="{{ path('code_index') }}">Retour</a>
{% endblock %}
