<form method="post" action="{{ path('fokontany_delete', {'id': fokontany.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce fokontany?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fokontany.id) }}">
    <button class="btn">Supprimer</button>
</form>
