{% extends 'base.html.twig' %}

{% block title %}Modification fokontany{% endblock %}

{% block body %}
    <h1>Modification fokontany</h1>

    {{ include('fokontany/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('fokontany_index') }}">Retour</a>

    {{ include('fokontany/_delete_form.html.twig') }}
{% endblock %}
