{% extends 'base.html.twig' %}

{% block title %}Nouveau fokontany{% endblock %}

{% block body %}
    <h1>Nouveau fokontany</h1>

    {{ include('fokontany/_form.html.twig') }}

    <a href="{{ path('fokontany_index') }}">Retour</a>
{% endblock %}
