{% extends 'base.html.twig' %}

{% block title %}Modification densité de population{% endblock %}

{% block body %}
    <h1>Modification densité de population</h1>

    {{ include('population/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('population_index') }}">Retour</a>

    {{ include('population/_delete_form.html.twig') }}
{% endblock %}
