{% extends 'base.html.twig' %}

{% block title %}Nouvelle densité de population{% endblock %}

{% block body %}
    <h1>Nouvelle densité de population</h1>

    {{ include('population/_form.html.twig') }}

    <a href="{{ path('population_index') }}">Retour</a>
{% endblock %}
