{% extends 'base.html.twig' %}

{% block title %}Nouveau candidat{% endblock %}

{% block body %}
    <h1>Nouveau candidat</h1>

    {{ include('candidat/_form.html.twig') }}

    <a href="{{ path('candidat_index') }}">Retour</a>
{% endblock %}
