{% extends 'base.html.twig' %}

{% block title %}Modification résultat{% endblock %}

{% block body %}
    <h1>Modification résultat</h1>

    {{ include('resultat/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('resultat_index') }}">Retour</a>

    {{ include('resultat/_delete_form.html.twig') }}
{% endblock %}
