{% extends 'base.html.twig' %}

{% block title %}Nouveau résultat{% endblock %}

{% block body %}
    <h1>Nouveau résultat</h1>

    {{ include('resultat/_form.html.twig') }}

    <a href="{{ path('resultat_index') }}">Retour</a>
{% endblock %}
