{% extends 'base.html.twig' %}

{% block title %}Modification mode{% endblock %}

{% block body %}
    <h1>Modification mode</h1>

    {{ include('mode/_form.html.twig', {'button_label': 'Modification'}) }}

    <a href="{{ path('mode_index') }}">Retour</a>

    {{ include('mode/_delete_form.html.twig') }}
{% endblock %}
