{% extends 'base.html.twig' %}

{% block title %}New Mode{% endblock %}

{% block body %}
    <h1>Create new Mode</h1>

    {{ include('mode/_form.html.twig') }}

    <a href="{{ path('mode_index') }}">back to list</a>
{% endblock %}
