{% extends 'base.html.twig' %}

{% block title %}Modification message{% endblock %}

{% block body %}
    <h1>Modification message</h1>

    {{ include('messages/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('messages_index') }}">Retour</a>

    {{ include('messages/_delete_form.html.twig') }}
{% endblock %}
