<form method="post" action="{{ path('tour_delete', {'id': tour.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce tour?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tour.id) }}">
    <button class="btn">Supprimer</button>
</form>
