{% extends 'base.html.twig' %}

{% block title %}Modification Tour{% endblock %}

{% block body %}
    <h1>Modification Tour</h1>

    {{ include('tour/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('tour_index') }}">Retour</a>

    {{ include('tour/_delete_form.html.twig') }}
{% endblock %}
