{% extends 'base.html.twig' %}

{% block title %}Nouveau tour{% endblock %}

{% block body %}
    <h1>Nouveau tour</h1>

    {{ include('tour/_form.html.twig') }}

    <a href="{{ path('tour_index') }}">Retour</a>
{% endblock %}
