{% extends 'base.html.twig' %}

{% block title %}Nouvelle Region{% endblock %}

{% block body %}
    <h1>Nouvelle Region</h1>

    {{ include('region/_form.html.twig') }}

    <a href="{{ path('region_index') }}">Retour</a>
{% endblock %}
