{% extends 'base.html.twig' %}

{% block title %}Modification Province{% endblock %}

{% block body %}
    <h1>Modification Province</h1>

    {{ include('province/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('province_index') }}">Retour</a>

    {{ include('province/_delete_form.html.twig') }}
{% endblock %}
