{% extends 'base.html.twig' %}

{% block title %}Nouveau Province{% endblock %}

{% block body %}
    <h1>Nouveau Province</h1>

    {{ include('province/_form.html.twig') }}

    <a href="{{ path('province_index') }}">Retour</a>
{% endblock %}
