{% extends 'base.html.twig' %}

{% block title %}Nouveau nombre d'electeur{% endblock %}

{% block body %}
    <h1>Nouveau nombre d'electeur</h1>

    {{ include('electeur/_form.html.twig') }}

    <a href="{{ path('electeur_index') }}">retour</a>
{% endblock %}
